.bChoice{
  height: 50px;
}

.lCorrect{
  margin-top: 10px;
  margin: auto;
  font-size: 20px;
}

.bNext{
  display: inline-block;
  text-align: center;
}

.lEntitled{
  margin: auto;
  margin-top: 30px;
  font-size: 30px;
}

.rowChoice1{
  margin-top: 40px;
}

.bottom{
  color: white;
}

.grid1{

}

.btnAnswers{
  position: absolute;
  bottom: 2px;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}
