.bChoice{
  height: 50px;
}

.lRepondre{
  margin-top: 10px;
  margin: auto;
  font-size: 20px;
}

.lFaux{
  margin-top: 10px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: #e22424;
}

.lVrai{
  margin-top: 10px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: #43ce2b;
}

.bNext{
  display: inline-block;
  text-align: center;
}

.lEntitled{
  margin: auto;
  margin-top: 30px;
  font-size: 25px;
}

.rowChoice1{
  margin-top: 40px;
}

.bottom{
  color: white;
}

.grid1{

}

.pGoodDone{
  margin: auto;
  top: 20px;
  font-size: 30px;
}

.textPerc{
  margin: auto;
  margin-top: 40px;
}

.btnAnswers{
  position: absolute;
  bottom: 2px;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

.dButton{
  margin: 0;
  position: absolute;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
