<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      TennisQuiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <ion-grid>
    <ion-row>
      <ion-label class="pGoodDone">{{goodDone.good}} / {{goodDone.done}}</ion-label>
    </ion-row>

    <ion-row>
      <ion-label class="textPerc">{{perc}} % terminé</ion-label>
      <ion-progress-bar color="tertiary" value="{{perc/100}}"></ion-progress-bar>
    </ion-row>
  </ion-grid>

  <div class="dButton">
    <ion-button class="bChoice" color="danger" expand="full" (click)="openQuestion()">JOUER</ion-button>
    <ion-button class="bChoice" color="tertiary" expand="full" (click)="openVersus()">VERSUS</ion-button>
    <ion-button class="bChoice" color="danger" expand="full" (click)="reset()">RESET</ion-button>
  </div>
</ion-content>
